body{
    background-image: url("https://www.francetravail.fr/files/live/sites/PE/files/secteurs-metiers/Domotique-web-telecom/Numerique-850x523.jpg");
    color: white;

}

button{
    background-color: #61ddff;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    font-size: 1em;
}

button:hover{
    background-color: #fff3f3;
    color: #61ddff;
    box-shadow: 0 4px 15px rgba(0,0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
